.header {
  font-family: CircularStd, Arial, Helvetica, sans-serif;
  letter-spacing: 1.75px;
}
.header_top {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.logo {
  padding-right: 2rem;
  border-right: 1px solid #222;
}
.heading {
  font-size: 1.125rem;
  line-height: 1.4444444444;
  padding-left: 20px;
  font-family: CircularStd, sans-serif;
  font-weight: 500;
  color: #222;
}
.header_bottom {
  background-color: rgb(78, 54, 41);
  box-shadow: rgb(78, 54, 41) 0px 0px 0px 100vmax;
  clip-path: inset(0px -100vmax);
  background: #4e3629;
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem 0;
  list-style: none;
  flex-wrap: wrap;
}
.header_bottom,
li {
  margin: 0;
}
.header_link {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}
.header_link:hover {
  opacity: 0.9;
  border-bottom: 1px solid #fff;
}
@media (max-width: 768px) {
  .header_bottom {
    flex-direction: column;
  }
}
